@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #0D243C;
  --font-color: #9EA7B1;
}

body {
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  color: var(--font-color);

}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 890px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.header__title {
  font-size: clamp(2rem, 10vw, 3.75rem);
  margin-bottom: 30px;
}
 
.modal {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 400px;
}

.modal__p {
  cursor: pointer;
  z-index: 1;
}

.modal--goal {
  display: none;
}

.modal--goal.modal-show{
  align-items: center;
  background: rgba(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.modal--goal__figure {
  height: 312px;
}

.figure__close {
  cursor: pointer; 
}

.modal--goal__card {
  align-items: center;
  background: #E9E9E9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45vh;
  margin-left: 10px;
  width: 500px;
}

.card__title {
  font-size: clamp(2rem, 10vw, 3rem);
  margin-bottom: 20px;
}

.card__field {
  border-radius: 10px;
  height: 30px;
  width: calc(500px - 150px);
}

.card__btn {
  background-color: #C4C4C4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 20px 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.card__btn:hover{
  box-shadow: #000 2px 2px 5px;
}

.card__btn:active {
  box-shadow: inset #000 1px 1px 3px;
}

.field {
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  width: 492px;
  z-index: 9;
}

.field__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__goals {
  background: #C4C4C4;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 432px;
  height: 88px;
  margin: 15px 0 15px;
}

.fig__img{
  bottom: 0;
  position: absolute;
  max-width: 100%;
}